<div class="container">
    <div class="row mb-3">
      <div class="col-md-6 ">
        <label>Select Batch:</label>
        <select class="form-control" [(ngModel)]="selectedBatch" (change)="fetchSemesterData()">
          <option *ngFor="let batch of batches" [value]="batch">{{ batch }}</option>
        </select>
      </div>
      <div class="col-md-6 ">
        <label>Select Semester:</label>
        <select class="form-control" [(ngModel)]="selectedSemester" (change)="fetchCourse()">
          <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label>Subject Code:</label>
        <input type="text" class="form-control" [(ngModel)]="subjectCode" placeholder="Enter subject code">
      </div>
      <div class="col-md-4">
        <label>Subject Name:</label>
        <input type="text" class="form-control" [(ngModel)]="subjectName" placeholder="Enter subject name">
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <button class="btn btn-primary mt-4" (click)="addCourse()">Add</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <table class="table">
          <caption>List of Subjects</caption>
          <thead>
            <tr>
              <th>Subject Code</th>
              <th>Subject Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses">
              <td>{{ course.code }}</td>
              <td>{{ course.name }}</td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="deleteCourse(course)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
  

  <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Course Enroll</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Course Updated for Batch : {{selectedBatch}} - {{selectedSemester}}</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>