<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @copyright Thiagarajar College of Engineering
            </div>
            <div class="col-md-6 text-end social-icons">
                <a href="#" class="text-decoration-none"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-decoration-none"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="text-decoration-none"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </div>
</div>