/* Small Sidebar */
.small-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  /* Adjust the width as needed */
  background-color: #e9e8e8;
  z-index: 1100;
}

/* Home Button/Icon */
.home-button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #e9e8e8;

}

.staff-enrollment {
  background-color: rgb(58, 58, 58);
  // padding: 20px;
  // cursor: pointer;
  // // background-color: #ffffff;
  // /* Set list item background color to black */
  // border: none;
  // color: #000000;
}






.announcement-heading {
  color: #000000;
  /* Example color */
  // padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
}

.bell {
  color: red;
  margin-left: 20px;
  margin-bottom: 20px;
}

.announcement {
  color: #000000;
  /* Example color */
  // padding: 10px;
  border-radius: 5px;
  margin-right: 650px;
  font-size: 14px;
  margin-top: 15px;
}


/* Sidebar Header */
.sidebar-header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  /* Adjust width based on small sidebar width */
  height: 70px;
  /* Adjust height as needed */
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}


.dropdown-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 100%;
  /* Adjust to align with the right edge of the parent button */
  z-index: 1000;
}

.list-group-item.active {
  background-color: #007bff;
  /* Background color for active link */
  color: #ffffff;
  /* Font color for active link */
  font-weight: bold;
  /* Bold font for active link */
}


/* Logo Container */
.logo-container img {
  height: 70px;
  /* Adjust height as needed */
}

/* Announcement Space */
.announcement-space {
  position: fixed;
  top: 70px;
  right: 0;
  width: calc(100% - 50px);
  /* Adjust width based on small sidebar width */
  height: 70px;
  /* Adjust height as needed */
  background-color: #FFF9EF;
  color: #000000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 900;
  margin-bottom: 20px;
}


/* Main Sidebar */
.main-sidebar {
  position: fixed;
  top: 140px;
  /* Adjust based on the height of the announcement space */
  left: 50px;
  /* Adjust based on the width of the small sidebar */
  width: 250px;
  height: calc(100vh - 140px);
  /* Adjust based on the height of the header and announcement space */
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 1000;
}

/* Sidebar Links */
.main-sidebar .nav-link {
  padding: 10px;
  color: #000;
  text-decoration: none;
  display: block;
}

/* Sidebar Links Hover */
.main-sidebar .nav-link:hover {
  background-color: #ddd;
  /* Add hover background color */
}

.logo-container2 {
  text-align: center;
  padding: 10px 0px;
  /* Adjust spacing as needed */
}

.img-class {
  max-width: 60%;
}

.list-group-item {
  padding: 20px;
  cursor: pointer;
  background-color: #ffffff;
  /* Set list item background color to black */
  border: none;
  color: #000000;
}

.list-group-item:not(.active):hover {
  background-color: #D9D9D9;
  /* Darken the background color on hover */
}


.dropdown-arrow {
  padding-top: 2.5%;
  padding-left: 3%;
}

#userDropdown {
  font-size: large;
  font-weight: 500;
}



.sidebar-header .list-group-item.selected {
  background-color: gray;
}

// .selected {
//   background-color: rgb(223, 223, 223) !important;
// }

.staff-enrollment-link.selected {
  background-color: rgb(242, 240, 240) !important;
}

.drop{
  font-weight: 500;
}

.Arrow{
  padding-top: 3%;
}


.icon-logout{
  font-size: 20px;
  padding-top: 5.5%;
}