<!-- Small Sidebar -->
<div class="small-sidebar bg-light">
  <!-- Home button/icon -->
  <button class=" home-button" (click)="goTo('')">
    <mat-icon>home</mat-icon>
  </button>
</div>

<!-- Header on Right Side of Sidebar -->
<header class="sidebar-header">
  <div class="logo-container">
    <img src="../../assets/longLogo.png" alt="Logo">
  </div>
  <div class="dropdown-container">
    <ng-container *ngIf="loggedIN()">
      <div class="dropdown">
        <button class="btn dropdown-toggle nav-link" type="button" id="userDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="../../assets/miniLogo.png" alt="Small Logo" height="30" class="me-2" />
          <!-- Adjust the path and height as needed -->
          {{ Student.currentUserName | uppercase }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </ng-container>
  </div>
</header>


<div class="announcement-space">
</div>

<div class="main-sidebar">
  <!-- Logo -->
  <div class="logo-container2">
    <img class="img-class" src="../../assets/miniLogo.png" alt="Logo">
  </div>
  <!-- Line -->

  <hr class="sidebar-divider">

  <div class="list-group list-group-flush" *ngFor="let item of sideBarItems">
    <strong><a [routerLink]="[item.path]" routerLinkActive="active" class="list-group-item">{{item.name | uppercase}}</a></strong>
  </div>
</div>


