<!-- add-marks.component.html -->
<div class="container">
    <div class="row">

        <div class="col-md-2">
            <label for="selectBatch" class="label">Select Batch:</label>
            <select class="form-control" id="selectBatch" [(ngModel)]="selectedBatch" name="selectBatch">
                <option *ngFor="let batch of batchList" [value]="batch">{{ batch }}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>Select Semester:</label>
            <select class="form-control" [(ngModel)]="selectedSemester" (change)="onSemChange()">
              <option *ngFor="let sem of semesters" [value]="sem">{{sem}}</option>        
            </select>
        </div>
      
      <div class="col-md-4">
        <label>Select Subject:</label>
        <select class="form-control" [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
            <option *ngFor="let Subject of subjectList" [value]="Subject">{{Subject}}</option>        
        </select>
      </div>
      <div class="col-md-4">
        <label>Select Assessment:</label>
        <select class="form-control" [(ngModel)]="selectedAssessment" (change)="fetchMarksForSelectedAssessment()">
          <option *ngFor="let assessment of assessments" [value]="assessment">{{ assessment }}</option>
        </select>
      </div>
    </div>
    <span>If Student Absent type 'AB' in marks</span>
    <div class="row mt-3">
      <div class="col-md-12">
        <table class="table">
            <caption>Student lists</caption>
          <thead>
            <tr>
              <th>Registration Number</th>
              <th>Name</th>
              <th>Marks</th>
              <th *ngIf="selectedAssessment === 'cat1' || selectedAssessment === 'cat2'">Assignment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td>{{ student.registrationNumber }}</td>
              <td>{{ student.name }}</td>
              <td>
                <input type="number" class="form-control small-input" [(ngModel)]="student.marks" (input)="onMarksChange(student)">
                <span class="text-danger">{{ student.ValidationMessage }}</span>
              </td>
              <td *ngIf="selectedAssessment === 'cat1' || selectedAssessment === 'cat2'">
                <input type="number" class="form-control small-input" [(ngModel)]="student.assignment" (input)="onAssignmentChange(student)">
                <span class="text-danger">{{ student.assignmentValidationMessage }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
  

  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    (click)="closeModal()">
    <div class="modal-dialog" role="document" (click)="preventClose($event)">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Marks</h3>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Marks Added Successfully
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
  