.sideClass {
    background-color: rgb(255, 207, 149)
}



.loginForm {
    margin: 10%;
}

.left-panel {
    display: flex;
    flex-direction: column;
}

.leftDiv {
    text-align: left;
    margin: 15%;
}