.table td, .table th {
    vertical-align: middle;
  }
  .status-updated {
    background-color: #28a745;
    color: white;
  }
  .status-not-updated {
    background-color: #dc3545;
    color: white;
  }


  .search-student{
    background-color: red;
    color: white;
    margin-left: 3%;
  }

  .reset-button{
    padding-top: 2%;
    cursor: pointer;
    margin-right: 2%;
    color: black;
  }

  .reset-button :hover{
    color: red;
  }