body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container-1 {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}


.label{
    font-weight: bold;
}

.add-button{
    background-color: red;
    border-color: red;
}
.staff-name {
    color: red;
    align-items: center;
    font-weight: bold;
}


/* Add these styles to your component's styleUrls or your global styles */
.close:hover {
    opacity: 0.7;
  }
  
  /* Add animation for fade in/out */
  .fade {
    transition: opacity 0.3s ease; /* Added transition */
  }
  
  .show {
    display: block;
    opacity: 1;
  }