.small-logo {
  width: 100px;
}

.inline-heading {
  display: inline-block;
  margin-left: 10px;
}

.text-center {
  text-align: center;
}

.custom-form-container {
  max-width: 1000px;
  margin: 0 auto;
  filter: brightness(100%);
}


:host {
  display: block;
  width: 100%;
  background-image: url('../../../assets/3.jpg');
  background-size:cover;
  background-repeat: no-repeat;
 
}


.form-container {
  background-color: #e3fcff;
  opacity: 0.8;
}

