<body>
  


    <div id="faceModal-container">
      <div id="faceModal">
        <div class="modal-dialogs" role="document">
          <div class="modal-contents">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel">Face Login</h1>
              
            </div>
            <div class="modal-bodys">
              <div class="container">
                <div class="errorMessage"></div>
                <video src="" id="myVideo" width="435" height="330" autoplay>
                    <button *ngIf="retry" id="Button" (click)="reloadPage()" class="btn btn-primary">Retry</button>
                </video>
                <button  [routerLink]="['/login']" class="btn btn-primary">Login with credentials</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
</body>