<div class="college-toppers-section mb-3 row">
    <h2 class="toppers-heading">Department Toppers</h2>
    <div class="topper-box col-md-4">
        <div class="inside-box">

            <div class="circle">
                <img src="../../../assets/studentLogo.jpg" alt="Student 1" />
            </div>
            <div class="student-info">
                <p>Name: Student 1</p>
                <p>Roll Number: ABC123</p>
                <p>Department: Computer Science</p>
            </div>
        </div>
    </div>

    <div class="topper-box col-md-4">
        <div class="inside-box">

            <div class="circle">
                <img src="../../../assets/studentLogo.jpg" alt="Student 2" />
            </div>
            <div class="student-info">
                <p>Name: Student 2</p>
                <p>Roll Number: DEF456</p>
                <p>Department: Electrical Engineering</p>
            </div>
        </div>
    </div>

    <div class="topper-box col-md-4">
        <div class="inside-box">
            <div class="circle">
                <img src="../../../assets/studentLogo.jpg" alt="Student 3" />
            </div>
            <div class="student-info">
                <p>Name: Student 3</p>
                <p>Roll Number: GHI789</p>
                <p>Department: Mechanical Engineering</p>
            </div>
        </div>
    </div>


</div>

