label{
    font-weight: bold;
}

.card-title, .card-text {
    font-weight: bold;
}

.printing{
    margin-top: 15px;
    align-items: center;
}

.print{
    background-color: red;
    border: none;
}