

label {
    font-weight: bold;
    margin-bottom: 10px;
}

.span-h {
    font-weight: bold;
}

.user-indication {
    margin-bottom: 20px;
}

.card-title,
.card-text {
    font-weight: bold;
}

.btn {
    background-color: red;
    border: none;
}

.table-heading {
    background-color: #d7e5ff;
    /* Light gray background for table headings */
}

.table tbody td {
    font-weight: bold;
    /* Make marks somewhat bold */
}


.marks {
    text-align: center;
}