<div class="container mt-5">
  <div class="row">
      <!-- Left Side: Student Profile Photo -->
      <div class="col-md-3">
          <div class="text-center mb-3">

              <img *ngIf="!isPhotoAvailable" src="../../../assets/studentLogo.jpg" alt="Student Profile" class="img-fluid" style="height: 200px; width: 150px;">
              <img *ngIf="isPhotoAvailable" [src]="studentPhoto" alt="Student Profile" class="img-fluid" style="height: 200px; width: 150px;">

          </div>
          
          <div class="text-center file">
              <!-- Option to upload photo (You can replace this with your upload functionality) -->
              <input type="file" class="form-control-file"  (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png,.pdf">

            </div>
      </div>
    
      <div class="col-md-8">
        <strong><h2 class="student-name">{{ student.firstName | uppercase }} {{ student.middleName | uppercase}} {{ student.lastName | uppercase}} </h2></strong>

        <div class="details-list">
            <p class="d-flex"><strong class="w-25">Roll Number</strong> <span class="span">: {{student.rollNumber}}</span></p>
            <p class="d-flex"><strong class="w-25">Register Number</strong> <span class="span">: {{student.registrationNumber}}</span></p>
            <p class="d-flex"><strong class="w-25">College</strong> <span class="span">: Thiagarajar College of Engineering</span></p>
            <p class="d-flex"><strong class="w-25">Department</strong> <span class="span">: Master of Computer Application</span></p>
            <p class="d-flex"><strong class="w-25">Current Semester</strong> <span class="span">: {{student.currentSem}}</span></p>
            <p class="d-flex"><strong class="w-25">Degree</strong> <span class="span">: Postgraduate</span></p>

        </div>
      </div>
  </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
      <div class="notification-box">
        <button class="face-update-button" *ngIf="showNotification" (click)="startFaceUpdate()">UPDATE FACE 
          <i class="fas fa-exclamation-circle" *ngIf="showNotification"></i>
        </button>
        <br *ngIf="showNotification">
        <hr class="line" *ngIf="showNotification">
        <!-- Student information -->
        <div class="student-info">
            <h3 class="stud-info">STUDENT INFORMATION</h3>
            <p class="d-flex"><strong class="w-25 info">First Name </strong> <span class="span info">: {{student.firstName | titlecase}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Middle Name </strong> <span class="span info">: {{student.middleName}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Second Name </strong> <span class="span info">: {{student.lastName}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Gender </strong> <span class="span info">: {{student.gender | titlecase}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Phone Number </strong> <span class="span info">: {{student.mobileNumber}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Email </strong> <span class="span info">: {{student.email}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Date of Birth </strong> <span class="span info">: {{student.dob}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Blood Group </strong> <span class="span info">: {{student.bloodGroup}}</span></p>
            <p class="d-flex"><strong class="w-25 info">Address </strong> <span class="span info">: {{student.address.houseNumber}} - {{student.address.street}}, {{student.address.city}}</span></p>
            <p class="d-flex"><strong class="w-25 info"> </strong> <span class="span info"> {{student.address.state}}, {{student.address.pincode}}</span></p>



         
        </div>
      </div>
    </div>
  </div>




