<div class="container-fluid custom-container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="../../assets/longLogo.png" alt="Logo" height="90" />
            </a>

           

            <!-- Navigation Buttons -->
            <div class="navbar-nav ms-auto">
                <a class="nav-link" routerLink="/"> <mat-icon class="header-icons">home</mat-icon> HOME</a>
                <a class="nav-link" (click)="scrollToDepartmentToppers()"><mat-icon class="icon-toppers">supervisor_account</mat-icon> DEPARTMENT TOPPERS</a>
                <ng-container *ngIf="loggedIN()">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle nav-link" type="button" id="userDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img *ngIf="isPhotoAvailable" [src]="studentPhoto" alt="student pic" height="30" class="me-2" />
                            <img *ngIf="!isPhotoAvailable" src="../../assets/miniLogo.png" alt="default pic" height="30" class="me-2" /> <!-- Adjust the path and height as needed -->
                            {{ studentLog.currentUserName | uppercase }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" (click)="studentPortal()"> <mat-icon class="icon-logout">account_circle</mat-icon> Profile</a></li>
                            <li><a class="dropdown-item"  (click)="logout()"><mat-icon class="icon-logout">power_settings_new</mat-icon> Logout</a></li>
                        </ul>
                    </div>
                </ng-container>
                <!-- If not logged in, display login link -->
                <ng-container *ngIf="!loggedIN()">
                    <a class="nav-link forLogin" routerLink="/login">LOGIN</a>
                </ng-container>

            </div>
        </div>
    </nav>

    <div class="static-image position-relative">
        <img src="../assets/1.jpg" class="img-fluid w-100 static-pic" alt="Static Image" />
        <a (click)="studentPortal()" class="student-portal-link" target="_blank">
            <h1 class="student-portal">MASTER OF COMPUTER APPLICATION</h1>
            <h1 class="student-portal" *ngIf="!this.Admin.isLoggedIn">STUDENT PORTAL</h1>
            <h1 class="student-portal" *ngIf="this.Admin.isLoggedIn">ADMIN PORTAL</h1>
        </a>
        
    </div>




    <!-- Two Columns Section -->
    <div class="row mt-4 ">
        <!-- Left Column - Important Links -->
        <div class="col-md-6 links">

            <h3 class="div-2-heading"> <mat-icon class="icon-important-links">link</mat-icon> IMPORTANT LINKS</h3>
            <div class="announcements">

            <ul class="important-links">
                <li class="link-name"><a href="https://www.tce.edu/"><mat-icon class="icon-link">link</mat-icon>Thiagarajar College of Engineering Official Website</a></li>
                <li class="link-name"><a href="https://www.youtube.com/watch?v=dOSCtlnJ5FE"><mat-icon class="icon-link">link</mat-icon>Life at TCE</a></li>
                <li class="link-name"><a href="https://www.tce.edu/placement"><mat-icon class="icon-link">link</mat-icon>TCE Placements</a></li>
            </ul>
        </div>
        </div>

        <!-- Right Column - Announcements -->
        <div class="col-md-6 anounce">
            <h3 class="div-2-heading"> <mat-icon class="icon-announcement">notifications</mat-icon> ANNOUNCEMENTS</h3>
            <div class="announcements">
                <div class="announcement" *ngFor="let announcement of announcements">
                    <a (click)="announcementClick(announcement.link)" style="cursor:pointer;">
                        <h4> <mat-icon class="icon-link">link</mat-icon> {{ announcement.title }}</h4>
                    </a>
                    <p>{{ announcement.details }}</p>
                    <p class="date">{{ announcement.date | date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-toppers id="departmentToppers"></app-toppers>
<app-footer></app-footer>